* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #000;
}

.container {
    margin-top: 10%;
    text-align: center;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    inline-size: 100%;
}

.container span {
    color: #fbba07;
    text-transform: uppercase;
    display: block;
}

.text1 {

    color: #fbba07;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Philosopher', sans-serif;

    position: relative;
    animation: text 3s 1;
}

.text2 {
    font-size: 30px;
}

@keyframes text {
    0% {
        color: black;
        margin-block-end: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-block-end: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-block-end: -40px;
    }
}